#head {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 110px;
    margin-bottom: 0px;
    border-bottom: 1px solid rgb(228, 220, 220);
}

#guest h2 {
    padding-top: 50px;
    margin-left: 10px;
}

#guest {
    width: 25%;
    border-right: 1px solid rgb(228, 220, 220);
}

#guest a {
    text-decoration: none;
    color: rgb(41, 39, 39);
}

#guest img {
    width: 20px;
    height: 20px;
    margin-right: 50px;
}

.guest {
    display: flex;
    align-items: center;
    justify-content: centers;
    justify-content: space-between;
    margin-left: 5px;
    margin-right: 5px;
    height: 60px;
    border-bottom: 1px solid rgb(228, 220, 220);
}

.guest p {
    font-family: Arial narrow;
    font-size: 15px;
    margin-left: 16px;
}