#haad {
    height: 300px;
    margin-left: 0px;
}

#haad img {
    width: 100%;
    height: 100%;
    z-index: -1;
}

.container {
    display: flex;
    justify-content: space-between;
    position: relative;
    font-family: sans-serif;
    border-bottom: 1px solid gray;
    z-index: 5;
    top: 0;
}

#works {
    text-align: center;
}

.step {
    background-color: rgb(32, 168, 126);
    width: 60px;
    height: 60px;
    align-items: center;
    margin: auto;
    border-radius: 30px;
}

#steps {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.step>h3 {
    margin-top: 30px;
    color: white;
}

#earn {
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(242, 242, 242);
}

#earn>div {
    text-align: center;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

.earnoption {
    padding: 30px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#referral {
    text-align: center;
    background-color: rgb(242, 242, 242)
}

#referral>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.type {
    width: 300px;
    background-color: white;
    margin: 10px;
}

#redeem>div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

#redeem>div:nth-child(2) {
    background-color: red;
}

.smallitem {
    background-color: rgb(242, 242, 242);
    width: 50%;
    height: 20px;
}

#redeem {
    text-align: center;
}

.item {
    align-items: center;
    background-color: white;
    padding-left: 20px;
    border: 0.25px solid rgb(204, 196, 196);
    width: 30%;
}

#text {
    z-index: 0;
    position: absolute;
    color: white;
    margin-left: 5%;
    font-weight: 500;
    color: white
}

nav>ul>li:hover .text {
    position: relative;
    z-index: 2;
}

#text>a>button {
    background-color: rgb(32, 168, 126);
    color: white;
    border: none;
    height: 40px;
    color: white;
}

div.step {
    display: flow-root;
    padding: -40px;
}