.heading{
    text-align: center;
}

#search-bar{
    width: 50%;
    margin: auto;
    margin-left: 35%;
    font-size: 20px;
    margin-bottom: 50px;
}
#search-name{
    width: 300px;
    padding: 4px;
    border-radius: 50px;
    margin: auto;
}

label{
    font-size: 18px;
    margin-left: 20%;
    line-height: 30px;
}

table{
    width: 80%;
    margin: auto;

}

tr > th{
    background-color: red;
    font-size: 18px;
    font-family: sans-serif;
    padding: 5px;
    color: white;
}
tr > th:nth-child(1){
    width: 100px;
}
tr > th:nth-child(2){
    width: 300px;
}
tr > th:nth-child(3){
    width: 200px;
}
tr > th:nth-child(4){
    width: 150px;
}
tr > th:nth-child(5){
    width: 150px;
}


tr > td{
    text-align: center;
}

tr img{
    width: 50px;
    height: 50px;
    display: block;
    margin: auto;
}

tr > td{
    border: 1px solid ;
}


#pagination{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

#pagination button{
    font-size: 20px;
    margin-left: 10px;
}